.globals{
    background-color: #212121;
    /*font: 16px Arial, sans-serif;*/
}

.text{
    color: white;
}

.header{
    color: #52af77;
    font-weight: bold;
    text-align: center;
}

.button-colors{
    background-color: #52af77 !important;
    border-width: 0 !important;
    border-radius: 50px !important;
}

.image-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.button-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -0%);
    transform: translate(-50%, -0%);
}